<a href="https://colab.research.google.com/github/yimiao537600/COMPUTATIONAL-THINKING/blob/main/week13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#資料容器-list

##文字串列
##數字串列
##混和串列

list1 = [1,2,3,4,5]

##N 索引 positiop index - 0

list1[0] # 1
list1[4] # 5
list1[-1] # 5


## **切片**
list1[1:4] # [2,3,4]

# 數字串列二: range()
list1 = [1,2,3,4,5]

list2 = range(1,10000,1) # [1,2,3,4,5]

list3 = rannge(1,6,2) # [1,3,5]

In [ ]:
# range(start, stop, step)
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
## star = 0, step = 1, stop= 10
range(0,10,1)
range(0,10)
list4 = range(10)


# [0,2,4,6,8]
## star = 0, step, = 2, stop = 10
n = range(0,10,2)
print(n[0], n[1], n[2], n[3], n[4])

# [5,7,9]
## star = 5, step = 2, stop = 11
p = range(5,11,2)
print(p[0], p[1], p[2])

# [0,-1,-2,-3,-4,-5,-6,-7,-8,-9]
##star = 0, step = -1, stop = -11
m = range(0,-10,-1)
print(m[0], m[1], m[2], m[3], m[4], m[5], m[6], m[7], m[8], m[9])

In [ ]:
# 2+4+6+8+10=?
sum = 0
for i in range(2,11,2):
  sum = sum + i
print("Total is", sum)

In [14]:
#3+6+9+12=?
sum = 0
for i in range(3,14,3):
  sum = sum + i
print("Total is", sum)

Total is 30

In [15]:
for i in range(1,6,1):
  print("Hello")

Hello
Hello
Hello
Hello
Hello